[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-autocomplete"]
	path = zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
